/* ---------------------------------------------------- */
/* Basic Setup */
/* ---------------------------------------------------- */

/* 
iconfonts
https://ionicons.com/v2/

colors 
https://flatuicolors.com
Combination 1 from palette v1
##orangeFunboy
Carrot - #e67e22 - Light orange like
Pumpkin - #d35400 - dark orange like

sections backgrounds
white-silver
whitesh - #ecf0f1
siilver - #bdc3c7

concrete - #95a5a6
Asbestos - #7f8c8d

palette us
whitesh - citylights - #dfe6e9
darksh - Dracula orchid - #2d3436 - footer background

Social media colors
https://briangardner.com/social-media-colors/
Faceboook - Hex: #3b5998
Twitter - Hex: #55acee
Google+ - Hex: #dc4e41
Instagram - Hex: #517fa4

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  color: #555555;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* headings */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

h2:after {
  content: ' ';
  background-color: #e67e22;
  width: 100px;
  height: 3px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* Paragraphs */

.hero-intro {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.col-box p {
  font-size: 90%;
  line-height: 145%;
}

/* icons */
.i-center {
  display: block;
  font-size: 350%;
  /* width: auto; */
  text-align: center;
  color: #e67e22;
  margin-bottom: 10px;
}

.i-checkmark {
  font-size: 120%;
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  margin-right: 10px;
}

/* Buttons */

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  border-radius: 200px;
  font-weight: 300;
  padding: 10px 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
  background-color: #d35400;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  margin-right: 15px;
  color: #ffffff;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #d35400;
  background-color: #d35400;
}

.btn-light:link,
.btn-light:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn-light:hover,
.btn-light:active {
  border: 1px solid #d35400;
  color: #ffffff;
}

/* ---------------------------------------------------- */
/* Header Section */
/* ---------------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://source.unsplash.com/nrUU3DEy0hA);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin-bottom: 30px;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav,
.user-main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li,
.user-main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited,
.user-main-nav li a:link,
.user-main-nav li a:visited {
  padding: 8px 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.25s;
}

.main-nav li a:hover,
.main-nav li a:active,
.user-main-nav li a:hover,
.user-main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.main-nav li:last-of-type a {
  font-size: 70%;
  border: 1px solid #e67e22;
  border-radius: 100px;
  padding: 10px;
  color: #e67e22;
}

.main-nav li:last-of-type a:hover {
  color: #ffffff;
  background-color: #d35400;
  border: 1px solid #d35400;
}

.hero-text {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text span {
  text-transform: capitalize;
}

.signin {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signin p,
.signin p a {
  color: #ffffff;
  font-size: 90%;
  line-height: 145%;
}

.signin p a {
  text-decoration: none;
}

.signin p a:hover {
  text-decoration: underline;
  color: #e67e22;
}
/* ---------------------------------------------------- */
/* Features - About-us Section */
/* ---------------------------------------------------- */

.section-features-about-us,
.section-features-about-us .hero-intro {
  margin-bottom: 60px;
}

.col {
  /* column-count: 3;
  column-gap: 40px;
  column-width: 100px; */
  display: flex;
}

.col-flex {
  flex: 2;
}

/* .col-box {
  order: 3;
} */

.col-box h3 {
  text-align: center;
}

/* ---------------------------------------------------- */
/* Features - Meals section */
/* ---------------------------------------------------- */

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-sample {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000000;
}

.meal-sample img {
  opacity: 0.5;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-sample img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* ---------------------------------------------------- */
/* Features - door-to-door delivery section */
/* ---------------------------------------------------- */

.section-door-to-door-delivery {
  background-color: #dfe6e9;
  padding-bottom: 30px;
}

.section-door-to-door-delivery h2 {
  padding-top: 30px;
}

.app-tap-order {
  width: 40%;
  border-radius: 10%;
}

.order-steps:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.order-steps:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.order-step {
  margin-bottom: 50px;
}

.order-step:last-of-type {
  margin-bottom: 80px;
}

.order-step .number {
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 150%;
  padding: 5px;
  float: left;
  margin-right: 20px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.btn-app {
  border: 0;
}

/* ---------------------------------------------------- */
/* Features - subscription plan section */
/* ---------------------------------------------------- */

.section-subscription-plans {
  background-color: #ecf0f1;
}

.section-subscription-plans h2 {
  padding-top: 30px;
}

.plans {
  padding-bottom: 30px;
}

.sub-plan {
  width: 90%;
  margin-left: 5%;
  background-color: #ffffff;
  border-radius: 20px;
}

.sub-plan div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.sub-plan div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sub-plan div:last-child {
  text-align: center;
  border: 0;
}

.price {
  font-size: 150%;
  margin-bottom: 10px;
  font-weight: 300;
  color: #e67e22;
}

.price span {
  font-size: 50%;
  font-weight: 300;
}

.price-meal {
  font-size: 80%;
}

.meal-toppings ul {
  list-style: none;
}

.meal-toppings ul li {
  padding: 5px 0;
}

/* ---------------------------------------------------- */
/* Footer section */
/* ---------------------------------------------------- */

footer {
  padding: 50px;
  background-color: #2d3436;
}

.footer-nav {
  float: left;
}

.social-link {
  float: right;
}

.footer-nav-links,
.social-links {
  list-style: none;
}

.footer-nav-links li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav-links li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav-links li a,
.social-links li a {
  text-decoration: none;
  border: 0;
  color: #888888;
}

.footer-nav-links li a:hover {
  color: #dddddd;
}

.social-links li a {
  font-size: 160%;
}

.ion-social-facebook-outline,
.ion-social-twitter-outline,
.ion-social-googleplus-outline,
.ion-social-instagram-outline {
  transition: color 0.2s;
}

.ion-social-facebook-outline:hover {
  color: #3b5998;
}

.ion-social-twitter-outline:hover {
  color: #55acee;
}

.ion-social-googleplus-outline:hover {
  color: #dc4e41;
}

.ion-social-instagram-outline:hover {
  color: #517fa4;
}

footer p,
footer p a {
  color: #888888;
}

footer p {
  text-align: center;
  margin-top: 100px;
  font-size: 90%;
}

footer p a {
  text-decoration: none;
}

footer p a:hover {
  color: #dddddd;
  text-decoration: underline;
}

/* -------------------------------------------------------------------*/
/* User Sign-in, Sign-up, user dashboard , Admin login and dashboard  */
/* -------------------------------------------------------------------*/

/* Sign-in Page - header Section */

.signin-header,
.signup-header,
.userdashboard-header,
.admin-header {
  background-color: #ecf0f1;
  padding: 10px;
  border-bottom: 3px solid #e67e22;
}

.signin-header a {
  text-decoration: none;
}

.signin-title,
.userdashboard-title {
  float: left;
}

.signin-title img,
.userdashboard-title img,
.admin-title img {
  width: auto;
  height: 70px;
  vertical-align: middle;
}

.imagebox {
  position: relative;
}

.imagebox .imgHover {
  position: absolute;
  display: none;
  left: 1.8px;
  top: 0;
}

.imagebox:hover .imgHover {
  display: block;
}

.signin-signup a {
  color: #555555;
}

.signin-signup a:hover {
  color: #e67e22;
}

.signin-signup,
.userdashboard-notifications {
  float: right;
  margin-top: 30px;
}

.top-navbar {
  list-style: none;
}
.top-navbar li {
  display: inline-block;
  margin-right: 10px;
}

.top-navbar li:nth-child(-n + 5) {
  text-transform: uppercase;
}

.top-navbar li a {
  padding: 5px 0;
}

.top-navbar li a:hover {
  border-bottom: 2px solid #e67e22;
}

.top-navbar li:last-of-type {
  font-size: 75%;
}

/* Sign-in Page - Signin form Section */

.signin-form-section,
.signup-form-section,
.userdashboard-links {
  background-color: #f3f4f4;
  padding: 50px;
}

.signin-form,
.signup-form {
  margin: 50px;
  background-color: #ffffff;
  padding: 30px;
  width: 50%;
  margin: 0 auto;
}

.signin-form-title {
  margin: 10px;
}
.signin-form-title p,
.signin-form-subtitle p {
  text-align: center;
}

.forgot-pass p {
  text-align: right;
}

.forgot-pass p a {
  text-decoration: none;
  color: #555555;
}

.forgot-pass p a:hover {
  text-decoration: underline;
  color: #e67e22;
}

.form-elements {
  margin: 20px;
}

.form-elemnets label {
  margin-bottom: 10px;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 16px;
  border: 1px solid #cccccc;
}

input[type='text']:hover,
input[type='password']:hover,
input[type='email']:hover,
input[type='tel']:hover {
  border: 1px solid #e67e22;
}

input[type='submit'] {
  width: 40%;
  padding: 10px;
  background-color: #e67e22;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}

input[type='submit']:hover {
  background-color: #d35400;
}

.signin-signup-after-form p,
.signup-signin-after-form p {
  text-align: center;
  margin-top: 20px;
}

.signin-signup-after-form p a,
.signup-signin-after-form p a {
  text-decoration: none;
  color: #555555;
}

.signin-signup-after-form p a:hover,
.signup-signin-after-form p a:hover {
  color: #e67e22;
  text-decoration: underline;
}

/* Sign-in Page - download phone app Section */

.download-3fs-phone-app {
  background-color: #f3f4f4;
  padding-top: 20px;
  border-bottom: 0;
}

.fff-phone-app {
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
}

.fff-phone-app h4 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.fff-phone-app p {
  text-align: center;
}

.pos-badges {
  position: relative;
}

.phone-app img {
  width: 50%;
}

.get-app-badges {
  position: absolute;
  top: 40%;
  left: 60%;
}

.get-app-badges img {
  display: block;
  margin-bottom: 10px;
}

/* ---------------------------------------------------- */
/* Sign-up Page */
/* ---------------------------------------------------- */

.signup-img,
.signup-intro {
  width: 50%;
  margin: 0 auto;
}

.signup-img img {
  width: 80%;
  height: auto;
  vertical-align: middle;
}

.signup-intro h4,
.signup-intro p {
  text-align: center;
  margin-bottom: 10px;
}

.signup-intro h4 {
  text-transform: capitalize;
}

.signup-btn {
  text-align: center;
}

.signup-terms-agreemt {
  font-size: 75%;
}

.signup-terms-agreemt label a,
.signup-last-para p a {
  text-decoration: none;
}

.signup-last-para p {
  margin-bottom: 10px;
}

/* ---------------------------------------------------- */
/* user dashboard Page */
/* ---------------------------------------------------- */

.userdashboard-notf-icons {
  list-style: none;
  margin-top: -30px;
}

.userdashboard-notf-icons li {
  display: inline-block;
  margin-right: 20px;
}

.userdashboard-notf-icons li a {
  text-decoration: none;
  color: #555555;
}

.userdashboard-notf-icons li a:hover {
  color: #e67e22;
}

.userdashboard-notf-icons li:nth-child(4) .ion-ios-person-outline {
  font-size: 250%;
  padding-right: 10px;
}

.userdashboard-notf-icons li:nth-child(4) span {
  font-size: 80%;
}

.userdashboard-notf-icons li:nth-child(5) .ion-ios-cart-outline {
  font-size: 150%;
}

.userdashboard-notf-icons li:nth-child(6) span {
  font-size: 80%;
  padding-left: 5px;
}

.dashboard-links,
.dashboard-links-order-history {
  width: 70%;
  margin-left: 15%;
}

.dashboard-links,
.dashboard-links-order-history {
  list-style: none;
  margin-bottom: 30px;
}

.dashboard-links li,
.dashboard-links-order-history li {
  display: inline-block;
  margin-right: 20px;
}

.dashboard-links li a,
.dashboard-links-order-history li a {
  text-decoration: none;
  color: #555555;
  text-transform: capitalize;
}

.dashboard-links li a:hover,
.dashboard-links-order-history li a:hover {
  color: #e67e22;
  text-decoration: underline;
}

.dashboard-links li:first-child a,
.dashboard-links-order-history li:nth-child(3) a {
  color: #e67e22;
  text-decoration: underline;
}

.fff-wallet,
.total-receipts,
.locked {
  width: 33%;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.fff-wallet p,
.total-receipts p,
.locked p {
  color: #ffffff;
}

.fff-wallet {
  background-color: #72c02c;
  margin-right: 5px;
}

.total-receipts {
  background-color: #3498db;
  margin-right: 5px;
}

.locked {
  background-color: #555555;
}

.dashboard-userinfo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.userdetails,
.admin-calendar-time {
  float: left;
}

.userdetails {
  width: 50%;
  border: 8px solid #dddddd;
  margin-right: 5px;
  padding: 30px;
}

.user-profile,
.admin-calendar {
  float: left;
  margin-right: 50px;
}

.user-profile {
  margin-right: 50px;
}

.userinfo,
.user-query {
  list-style: none;
}

.userinfo li i {
  margin-right: 5px;
}

.userinfo li span,
.user-query li {
  font-size: 80%;
}

.user-queries,
.admin-time {
  float: right;
}

.user-query li a {
  text-decoration: none;
  color: #555555;
}

.user-query li a:hover {
  color: #e67e22;
  text-decoration: underline;
}

.summary-stats {
  width: 45%;
  float: right;
  margin: 20px;
}

.past-orders,
.pending-orders,
.rejected-orders,
.sales-in-act-stats,
.visits-in-act-stats,
.users-in-act-stats {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 25px;
  border: 8px solid #dddddd;
  margin-right: 10px;
  text-align: center;
  font-size: 150%;
}

.past-orders {
  border-bottom-color: #72c02c;
  border-top-color: #72c02c;
  border-right-color: #72c02c;
}

.pending-orders {
  border-left-color: #3498db;
}

.rejected-orders {
  border-bottom-color: #e74c3c;
  border-left-color: #e74c3c;
  border-top-color: #e74c3c;
}

.order-summary-info {
  margin-top: 30px;
}

.order-table-header,
.order-history,
.admin-dashboard-links {
  margin-bottom: 30px;
}

.order-header,
.order-history-header,
.admin-dashboard-links-header,
.admin-dashboard-links-header-additem {
  list-style: none;
}

.order-header li,
.order-history-header li,
.admin-dashboard-links-header li,
.admin-dashboard-links-header-additem li {
  display: inline-block;
  margin-right: 20px;
}

.order-header li a,
.order-history-header li a,
.admin-dashboard-links-header li a,
.admin-dashboard-links-header-additem li a {
  text-decoration: none;
  color: #555555;
}

.order-header li a:hover,
.order-history-header li a:hover,
.admin-dashboard-links-header li a:hover,
.admin-dashboard-links-header-additem li a:hover {
  text-decoration: underline;
  color: #e67e22;
}

.order-header li:first-child .ion-speakerphone,
.order-history-header li:first-child .ion-speakerphone {
  margin-right: 5px;
}

.order-header li:nth-child(2) a,
.order-history-header li:nth-child(3) a,
.admin-dashboard-links-header li:nth-child(2) a,
.admin-dashboard-links-header-additem li:nth-child(3) a {
  color: #e67e22;
  text-decoration: underline;
}

.make-order {
  width: 50%;
  margin: 0 auto 30px auto;
}

.order-select-list {
  font-size: 100%;
  width: 80%;
  padding: 10px;
  color: #555555;
}

.add-order {
  margin-left: 5px;
  text-decoration: none;
  color: #555555;
}

.add-order:hover {
  color: #e67e22;
}

.orders {
  border-top: 1px dotted #e67e22;
  border-bottom: 1px dotted #e67e22;
  padding: 20px;
}

.orders .ion-android-restaurant {
  font-size: 300%;
}

.orders .ion-ios-close-empty,
.orders .ion-ios-checkmark-empty {
  margin-right: 2px;
  font-size: 150%;
}

.orders a {
  text-decoration: none;
  color: #555555;
}

.orders a:hover {
  color: #e67e22;
}

.orders a span {
  font-size: 80%;
}

.orders .success,
.orders .rejected {
  padding: 5px;
  color: #ffffff;
  font-size: 16px;
}

.orders .success {
  background-color: #e67e22;
}

.orders .rejected {
  background-color: #e74c3c;
}

.proceed-to-checkout {
  width: 200px;
  margin-top: 20px;
  margin-left: 80%;
}

.proceed-to-checkout a {
  text-align: center;
  text-decoration: none;
  background-color: #e67e22;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.proceed-to-checkout a:hover {
  background-color: #d35400;
}

/* ---------------------------------------------------- */
/* user logout Page */
/* ---------------------------------------------------- */

.signin-again {
  background-color: #72c02c;
}

.logout-thanks {
  padding: 30px;
}

.logout-thanks p {
  text-align: center;
  color: #ffffff;
}

/* ---------------------------------------------------- */
/* Admin login Page */
/* ---------------------------------------------------- */

.admin-userhome-link {
  width: 30%;
  margin: 0 auto;
}

.admin-content {
  min-height: calc(100vh - 250px);
  background-color: #f3f4f4;
}

.admin-footer {
  height: 250px;
}

/* ---------------------------------------------------- */
/* Admin Dashboard */
/* ---------------------------------------------------- */

.new-users,
.new-orders,
.total-sales,
.total-visits {
  width: 20%;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;
}

.new-users p,
.new-orders p,
.total-sales p,
.total-visits p {
  color: #ffffff;
}

.new-users p i,
.new-orders p i,
.total-sales p i,
.total-visits p i {
  font-size: 300%;
}

.new-users {
  background-color: #199f86;
}

.new-orders {
  background-color: #e05d6f;
}

.total-sales {
  background-color: #418bca;
}

.total-visits {
  background-color: #3f4e61;
}

.admin-actual-stats p {
  text-align: center;
}

.admin-calendar-time {
  margin-top: 30px;
  margin-left: 100px;
}

.admin-calendar div,
.admin-time div {
  width: 150px;
  height: 100px;
  padding: 10px;
  text-align: center;
}
.admin-calendar div i,
.admin-time div i {
  font-size: 350%;
  color: #ffffff;
}

.admin-calendar div:first-child {
  background-color: #418bca;
}

.admin-time div:first-child {
  background-color: #db5554;
}

.admin-calendar div:nth-child(2),
.admin-time div:nth-child(2) {
  background-color: #ffffff;
}

.admin-actual-stats {
  margin-top: 5px;
}

.sales-in-act-stats {
  border-top-color: #418bca;
  border-right-color: #418bca;
  border-bottom-color: #418bca;
  border-left-color: #418bca;
}

.sales-in-act-stats i,
.summary-stats .stats-sales {
  color: #418bca;
}

.summary-stats .stats-sales,
.summary-stats .stats-visits,
.summary-stats .stats-users {
  text-align: center;
}

.visits-in-act-stats {
  border-top-color: #db5554;
  border-right-color: #db5554;
  border-bottom-color: #db5554;
}

.visits-in-act-stats i,
.summary-stats .stats-visits {
  color: #db5554;
}

.users-in-act-stats {
  border-right-color: #199f86;
  border-bottom-color: #199f86;
  border-left-color: #199f86;
}

.users-in-act-stats i,
.summary-stats .stats-users {
  color: #199f86;
}

.summary-stats i {
  font-size: 250%;
}

.admin-dashboard-links {
  text-align: center;
}

.add-new-item {
  width: 40%;
  margin: 0 auto 30px;
}
.enter-new-item,
.add-new-item-btn {
  display: inline-block;
  margin-right: 10px;
}

.add-new-item-btn a {
  text-decoration: none;
  color: #ffffff;
  background-color: #e67e22;
  padding: 10px;
  border-radius: 5px;
}

.add-new-item-btn a:hover {
  background-color: #d35400;
}

/* ---------------------------------------------------- */
/* Js DOM Manipulation display errors */
/* ---------------------------------------------------- */

/* Signin Form */
.is-invalid {
  color: #ff0000;
}
